* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E4E8EE;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}
header {
   font-family: 'Proza Libre', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 61px;
   color: rgba(0, 0, 0, 0.82)
   
}
h1{
    position: absolute;
    z-index: 1    ;
    top: 110px;
    
}
.head {
    width: 1040px;
    opacity: 0.8;
    
}
section{
    margin-top: 46px;
    width: 1022px;
    column-count: 2;
    column-gap: 40px;
    column-width: 490px;
    
}
blockquote {
    
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: -20px;
    padding-left: 12px;
    margin-bottom: 40px;
}

.main {
    width: 483px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.imgin {
    margin-top: 49px;
}
p {
    padding-top: 5px;
}

